@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(27, 27, 27);
}

main {
  color: white;
  text-decoration: none;
  text-align: center;
	margin-top: 5vh;
	font-size: 130%;
}

a, a:visited, a:active {
  color: rgb(134, 134, 134);
}

a:hover{
	color: rgb(155, 155, 155);
}

.sources{
	margin-top: 5vh;
}

